<div *ngIf="quiz" class="card text-left">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <div class="row">
      <div class="container">
        <h3 style="font-size:14px; text-align: left;">Thời gian làm bài: {{quiz.time/60}} phút</h3>
        <h3 style="font-size:14px; text-align: left;">Số lượng câu hỏi: {{quiz.questions.length}} câu</h3>
        <h3 style="font-size:14px; text-align: left;">Số điểm đạt: {{quiz.point}}%</h3>
        <h3 style="text-align: center;">Đề thi: {{quiz.name}}</h3>

  
          <div *ngFor="let item of quiz.questions;let i = index" class="exam-item">
            <h3>Câu {{i + 1}}.&ensp;
              <span class="text"> {{item.content}}</span>
            </h3>
            <ul>
              <li *ngFor="let ans of item.answer; let i = index">
                <p class="answer symbol">{{getLetter(i)}}</p>.&ensp;
                <span class="text">{{ans.content}}</span>
              </li>

            </ul>
          </div>
          <h3 style="text-align: center;">Hết</h3>
    
      </div>
    </div>
  </div>
</div>
