<div *ngIf="question" class="card text-left">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <div style="color:  #5C6AC4;" class="text-center">Sửa câu hỏi</div>
    <form #f="ngForm" name="myForm" >
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Nhập nội dung câu hỏi</label>
        <textarea class="form-control" [(ngModel)]="question.content" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Nội dung đáp án</label>
      </div>
      
      <div class="input-group" *ngFor="let a of question.answer;let i = index;">
        <div class="input-group-prepend">
          <span style="background-color: #e9ecef; color: black;" class="input-group-text">{{getLetter(i)}}</span>
          <div style="background-color: #e9ecef;" class="input-group-text">
            <input type="radio" id="myRadio" name="answerTrue{{i}}" (change)="handleRadio(i)" [(ngModel)]="question.answer[i].answerTrue" [value]="true" aria-label="Radio button for following text input">
          </div>
        </div>
        <input style="font-size: 1rem;" type="text" class="form-control" name="answerContent{{i}}" [(ngModel)]="question.answer[i].content" aria-label="Text input with radio button">
      </div>
      <!-- <div class="input-group">
        <div class="input-group-prepend">
          <span style="background-color: #e9ecef; color: black;" class="input-group-text">B</span>
          <div style="background-color: #e9ecef;" class="input-group-text">
            <input type="radio" id="myRadio" name="answerTrue"  aria-label="Radio button for following text input" value="2">
          </div>
        </div>
        <input style="font-size: 1rem;" type="text" class="form-control"  aria-label="Text input with radio button">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span style="background-color: #e9ecef; color: black;" class="input-group-text">C</span>
          <div style="background-color: #e9ecef;" class="input-group-text">
            <input type="radio" id="myRadio" name="answerTrue"  aria-label="Radio button for following text input" value="3">
          </div>
        </div>
        <input style="font-size: 1rem;" type="text" class="form-control"  aria-label="Text input with radio button">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span style="background-color: #e9ecef; color: black;" class="input-group-text">D</span>
          <div style="background-color: #e9ecef;" class="input-group-text">
            <input type="radio" id="myRadio" name="answerTrue" aria-label="Radio button for following text input" value="4">
          </div>
        </div>
        <input style="font-size: 1rem;" type="text" class="form-control"  aria-label="Text input with radio button">
      </div> -->
      <button style="background-color: #5C6AC4; color: white; margin-left: 10px;" [disabled]="!f.valid || !f.dirty" class="btn btn-md btn-round float-right" (click)="editQuestion()">Lưu</button>
        <button style="background-color: #F6F7FB; color: #87888A;" class="btn btn-md btn-round float-right ">Huỷ</button>
    </form>
  </div>
</div>
<!-- <h1>questionnaire bla bla</h1>
<form [formGroup]="questionnaire" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="questionnaire..." formControlName="questionnaireName">
    <ng-container formArrayName="section">
    <div [formGroupName]="i" *ngFor="let ques of questionnaire.get('section').controls;let i = index;">

            <input placeholder="section..." formControlName="sectionName" type="text">
            <button (click)="addSection()">add section</button>
            <ng-container formArrayName="question">
            <div [formGroupName]="j" *ngFor="let sec of ques.get('question').controls;let j=index;">

                    <input placeholder="question..." formControlName="questionName" type="text">
                    <input placeholder="type..." formControlName="type" type="text">
                    <button (click)="addQuestion(ques)">add question</button>
                        
                </div>
            </ng-container>
        </div>
    </ng-container>
    <button type="submit">submit</button>
</form> -->
<!-- {{questionnaire.value | json}} -->
