<!-- <div class="card text-left">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <form action="">
      <div class="form-row">
        <div class="form-group col-md-6">           
          <label for="">Chọn học viên</label>
          <select name="student" id=""  class="form-control">
            <option [value]="null" selected>Chọn học viên</option>
            <option *ngFor="let student of students" [ngValue]="student.id">{{student.firstName}} {{student.lastName}}</option>
          </select>
      </div>
      <div class="form-group col-md-6">           
        <label for="">Chọn khoá học</label>
        <select name="course" id="" class="form-control">
          <option [value]="null" selected>Chọn khoá học</option>
          <option *ngFor="let course of courses" [ngValue]="student.id">{{student.firstName}} {{student.lastName}}</option>
        </select>
    </div>
      </div>
    </form>

  </div>
</div> -->
