
<button class="btn btn-warning mb-2" [routerLink]="['/member']">
  <i class="fa fa-undo" aria-hidden="true"></i>
</button>
<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl || '../../../assets/user.png'}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong>Địa chỉ:</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Tuổi:</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Lần hoạt động cuối:</strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Thời gian đăng ký:</strong>
            <p>{{user.created | date:'medium' }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <ngb-tabset>
          <ngb-tab title="Thông tin cá nhân">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <!-- personal card start -->
                <div class="card">
                
                  <div class="card-body">
                    <div class="view-info">
                     
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="general-info">
                            <form>
                              <div class="form-group row">
                                <div class="col-md-6">
                                  <label for="staticEmail" class="col-form-label">Họ</label>
                                  <div class="">
                                    <input type="text" class="form-control" id="staticEmail" value="{{user.firstName}}">
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <label for="staticEmail" class=" col-form-label">Tên</label>
                                  <div class="">
                                    <input type="text" class="form-control" id="staticEmail" value="{{user.lastName}}">
                                  </div>
                                </div>
                              </div>
                              
                              <div class="form-group row">

                                <div class="col-md-6">
                                  <label for="staticEmail" class=" col-form-label">Thành phố</label>
                                  <div class="">
                                    <input type="text" class="form-control" id="staticEmail" value="{{user.city}}">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <label for="staticEmail" class="col-form-label">Quận</label>
                                  <div class="">
                                    <input type="text" class="form-control" id="staticEmail" value="{{user.country}}">
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                              
                                  <label for="staticEmail" class="col-sm-2 col-form-label">Địa chỉ</label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" id="staticEmail" value="{{user.adress}}">
                                  </div>
                               
                              </div>

                              

                              <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Số điện thoại</label>
                                <div class="col-sm-10">
                                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.phone}}">
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.email}}">
                                </div>
                              </div>

                              
                            <div class="form-group text-right">
                                <button class="btn btn-success" type="submit">Chỉnh sửa</button>
                              </div>

                            </form>
                            <!-- end of row -->
                          </div>
                          <!-- end of general info -->
                        </div>
                        <!-- end of col-lg-12 -->
                      </div>
                    
                      <!-- end of row -->
                    </div>
                    <!-- end of view-info -->
               
                    <!-- end of edit-info -->
                  </div>
                  <!-- end of card-body -->
                </div>
                <!-- personal card end-->
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Thư viện hình">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <!-- info card start -->
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-header-text">Thư viện hình</h5>
                  </div>
                  <div class="card-body">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                  </div>
                </div>
                <!-- info card end -->
              </div>
            </ng-template>
          </ngb-tab>
         
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>