<div class="card text-left">

  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h4>Ngân hàng đề thi</h4>
      </div>
      <div class="col-md-6">
        <button [routerLink]="['add']" style="background-color: #5C6AC4; color: white; margin-left: 10px;"
          class="btn btn-sm btn-round float-right">Tạo đề thi</button>

      </div>
      <!-- <div class="col-md-6 text-right">
        <button class="btn btn-success text-left" (click)="modal.showModal();" 
        >
        <i class="fa fa-plus"></i> Thêm danh mục</button>  
       
      </div> -->
    </div>
  </div>
  <div class="card-body">
    <input class="form-control mb-2" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  
    Tìm theo tiêu đề hoặc mô tả ...">
    <div class="table-responsive">
      <table [svData]="exams" #sv="svDataTable" class="table table-hover">
        <thead>
          <tr>
            <th>
              <sv-default-sorter>Ngày tạo</sv-default-sorter>
            </th>
            <th>
              <sv-default-sorter>Tiêu đề </sv-default-sorter>
            </th>
            <th>
              <sv-default-sorter>Thời gian </sv-default-sorter>
            </th>
            <th>
              <sv-default-sorter>Điểm đạt </sv-default-sorter>
            </th>
            <th>
              <sv-default-sorter>Số câu hỏi </sv-default-sorter>
            </th>

            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ex of sv.data | filter:searchText; let i=index ">
            <td>{{ex.createdAt | date:'dd/mm/yyyy hh:mm:ss'}}</td>
            <td>{{ex.name}}</td>
            <td>{{ex.time/60}} phút</td>
            <td>{{ex.point}} %</td>
            <td>{{ex.questions.length}} câu</td>
            <td>
              <a style="margin-right: 10px;">
                <button class="btn btn-sm btn-primary" [routerLink]="['/question-exam/exam/',ex.id]"><i
                    class="fa fa-eye"></i></button>
              </a>
              <a style="margin-right: 10px;">
                <button class="btn btn-sm btn-success" [routerLink]="['edit/',ex.id]"><i class="fa fa-edit"></i></button>
              </a>
              <a>
                <button *ngIf="!ExistExam(ex.id)" class="btn btn-sm btn-danger" (click)="deleteExam(ex)"><i class="fa fa-trash"></i></button>
              </a>
            </td>

          </tr>

        </tbody>
        <tfoot>

        </tfoot>
      </table>

    </div>
  </div>
</div>







<script>
  $('#exampleModal').on('show.bs.modal', event => {
    var button = $(event.relatedTarget);
    var modal = $(this);
    // Use above variables to manipulate the DOM

  });

</script>
