<ng-template #itemCreateMdl>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Thêm câu hỏi</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="myForm" [formGroup]="questionnaire">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Nhập nội dung câu hỏi</label>
        <textarea class="form-control" formControlName="content" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Nội dung đáp án</label>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span style="background-color: #e9ecef; color: black;" class="input-group-text">A</span>
          <div style="background-color: #e9ecef;" class="input-group-text">
            <input type="radio" id="myRadio" name="answerTrue" formControlName="answerTrue" aria-label="Radio button for following text input" value="1">
          </div>
        </div>
        <input style="font-size: 1rem;" type="text" class="form-control" formControlName="contentAnswer1" aria-label="Text input with radio button">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span style="background-color: #e9ecef; color: black;" class="input-group-text">B</span>
          <div style="background-color: #e9ecef;" class="input-group-text">
            <input type="radio" id="myRadio" name="answerTrue" formControlName="answerTrue" aria-label="Radio button for following text input" value="2">
          </div>
        </div>
        <input style="font-size: 1rem;" type="text" class="form-control" formControlName="contentAnswer2" aria-label="Text input with radio button">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span style="background-color: #e9ecef; color: black;" class="input-group-text">C</span>
          <div style="background-color: #e9ecef;" class="input-group-text">
            <input type="radio" id="myRadio" name="answerTrue" formControlName="answerTrue" aria-label="Radio button for following text input" value="3">
          </div>
        </div>
        <input style="font-size: 1rem;" type="text" class="form-control" formControlName="contentAnswer3" aria-label="Text input with radio button">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span style="background-color: #e9ecef; color: black;" class="input-group-text">D</span>
          <div style="background-color: #e9ecef;" class="input-group-text">
            <input type="radio" id="myRadio" name="answerTrue" formControlName="answerTrue" aria-label="Radio button for following text input" value="4">
          </div>
        </div>
        <input style="font-size: 1rem;" type="text" class="form-control" formControlName="contentAnswer4" aria-label="Text input with radio button">
      </div>
      <button style="background-color: #5C6AC4; color: white; margin-left: 10px;" class="btn btn-md btn-round float-right" [disabled]="!questionnaire.valid" (click)="createQuestion()">Lưu</button>
        <button style="background-color: #F6F7FB; color: #87888A;" class="btn btn-md btn-round float-right ">Huỷ</button>
    </form>
  </div>
</ng-template>

<!-- 
<ng-template #itemCreateMdl>
  <div class="modal-header">
    <h5 class="modal-title">Chi tiết câu hỏi</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
<div class="modal-body">
<p style="font-size: 20px;">{{q.content}}</p>
<div class="row container">
  <div style="font-size: 16px;" class="col-md-6 mt-1">
    A. {{q.answer.content}}
  </div>
  <div style="font-size: 16px;" class="col-md-6 active mt-1">
    B. 4 cái cánh
  </div>
  <div style="font-size: 16px;" class="col-md-6 mt-1">
    C. 4 cái cánh
  </div>
  <div style="font-size: 16px;" class="col-md-6 mt-1">
    D. 4 cái cánh
  </div>
</div>
</div>
</ng-template> -->
