<button class="btn btn-primary text-left mb-2" (click)="modal.showModal();" ><i class="fa fa-plus"></i></button>


<app-course-category-add #modal (itemCreated)="itemCreated($event)"></app-course-category-add>


  <table id='table' datatable [dtOptions]="dtOptions" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
          <tr>
              <td><input name="all" type="checkbox" ng-click="selectAll()" /></td>
              <th style="width: 5%">#</th>
              <th style="width:40%">Tên danh mục</th>
              <th style="width:25%">Ngày tạo</th>
              <th style="width: 15%">Trạng thái</th>
              <th style="width: 15%">Thao tác</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let courseCategory of courseCategories; let i= index">
              <td><input type="checkbox" data-md-icheck  #checkdelet id="{{courseCategory.id}}" name="deletecheck" value="{{courseCategory.id}}" (click)="selectID(courseCategory.id,$event)" /></td>
              <td scope="row">{{i+1}}</td>
              <td>{{courseCategory.name}}</td>
              <td>{{courseCategory.createdDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
              <td class="text-center">
                <span *ngIf="courseCategory.status == 1; else flase" class="badge badge-success">Kích hoạt</span>
                <ng-template #flase>
                    <span class="badge badge-danger">Chưa kích hoạt</span>
                </ng-template>             
            </td>
              <td>
                  <button class="btn btn-sm btn-primary" (click)="modal1.showModal();"  ><i class="fa fa-pencil"></i></button>
                  <button class="btn  btn-sm btn-danger" (click)="deleteCourseCate(courseCategory.id,courseCategory.name)"><i class="fa fa-trash"></i></button>
              </td><app-course-category-update #modal1 [courseCategory]="courseCategory" (itemCreated)="itemCreated($event)"></app-course-category-update>
              
          </tr>

      </tbody>
  
  </table>
  <button (click)="deleteSelected()">Delete</button>

 

  <!-- <ng-template #template1>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Thêm  danh mục khóa học</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-course-category-update></app-course-category-update>
    
    </div>
  </ng-template> -->