<div class="card">

  <table class="table table-bordered">
      <thead>
          <tr>
              <td><input name="all" type="checkbox" ng-click="selectAll()" /></td>
              <th style="width: 5%">#</th>
              <th style="width:40%">Tên danh mục</th>
              <th style="width:25%">Ngày tạo</th>
              <th style="width: 15%">Trạng thái</th>
              <th style="width: 15%">Thao tác</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
              <td scope="row"></td>
              <td></td>
              <td></td>
              <td><span></span></td>
              <td>
                  <button class="btn btn-sm btn-primary" ui-sref="course_category_edit({id:item.ID})"><i class="fa fa-pencil"></i></button>
                  <button class="btn  btn-sm btn-danger" ng-click="deleteCourseCategory(item.ID,item.Name)"><i class="fa fa-trash"></i></button>
              </td>
          </tr>

      </tbody>
      <tfoot>
          <tr>
              <td colspan="5"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
          </tr>
      </tfoot>
  </table>
</div>