<ol class="breadcrumb m-b-0">
  <li><a href="index.html">Trang chủ</a></li>
  <li class="active">Quản lý thành viên</li>

</ol>
<h1 class="page-heading h2">Quản lý thành viên</h1>


<div class="row mb-6">
  <div class="col-md-6">
      <div class="input-group">
          <input type="text" class="form-control" ng-model="keyword" placeholder="Từ khóa">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="search()">Tìm kiếm</button>
          </span>
      </div><!-- /input-group -->
  </div>
  <div class="col-md-6 float-right">
      <button class="btn btn-success float-right" (click)="openModalWithClass(template)">Thêm mới</button>
      <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled>Xóa</button>
  </div>
</div>


<div class="card">

  <table class="table table-bordered" datatable>
      <thead>
          <tr>
              <td><input name="all" type="checkbox" ng-click="selectAll()" /></td>
              <th style="width: 5%">#</th>
              <th style="width:40%">Tên thành viên</th>
              <th style="width:25%">Tuổi</th>
              <!-- <th style="width: 15%">Trạng thái</th> -->
              <th style="width: 15%">Thao tác</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users">
            <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
            <td scope="row">{{user.id}}</td>
            <td>{{user.knownAs}}</td>
            <td> {{user.age}}</td>
            <td>
                <button class="btn btn-sm btn-primary" ui-sref="post_category_edit({id:item.ID})"><i class="fa fa-pencil"></i></button>
                <button class="btn  btn-sm btn-danger" ng-click="deletepostCategory(item.ID,item.Name)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>

      </tbody>
      <tfoot>
          <tr>
              <td colspan="5"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
          </tr>
      </tfoot>
  </table>
</div>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Thêm thành viên mới</h4>
    <button type="button" class="close pull-right pr-1" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #registerForm="ngForm" (ngSubmit)="register()">    
      <div class="form-group">
        <label for="exampleFormControlInput1">Tài khoản</label>
        <input type="text" class="form-control" required name="username" [(ngModel)]="model.username" placeholder="Username">
      </div>
    
      <div class="form-group">
        <label for="exampleFormControlInput1">Mật khẩu</label>
        <input type="password" class="form-control" required name="password" [(ngModel)]="model.password" placeholder="Password">
      </div>
      
     
      <div class="form-group text-center">
        <button class="btn btn-success" type="submit">Đăng ký</button>
        <button class="btn btn-default" type="button" (click)="modalRef.hide()">Hủy bỏ</button>
      </div>
      
    </form>
  </div>
</ng-template>