<div class="grid-table table">
  <div class="thead mb-2">
      <div class="tr">
        <div class="row">
          <div class="col-md-8" style="font-size: 16px; font-weight: bold;">Tiêu đề</div>
          <div class="col-md-4" style="font-size: 16px; font-weight: bold;">Thao tác</div>
        </div>
          
          <!-- <div class="th">Account Holder</div> -->
          <!-- <div class="td">Account Holder</div>
          <div class="td">Bank</div>
          <div class="td">IFSC</div>
          <div class="td">
              <button class="btn btn-outline-success" (click)="addBankAccountForm()">
                  <i class="fa fa-plus"></i> New Account
              </button>
          </div> -->
          <div class="td">
              <span *ngIf="notification" class="elementToFadeInAndOut">
                  <i class="fa fa-check-circle {{notification.class}}"></i>
                  {{notification.message}}
              </span>
          </div>
      </div>
  </div>
  <div class="tbody">
      <form [formGroup]="fg" *ngFor="let fg of LessonForms.controls; let i=index;" >

           <div class="form-row">
            <div class="form-group col-md-8 ">
              <input type="text" 
                class="form-control"
                 placeholder="Nhập tiêu đề khoá học" 
                 formControlName="Name">
             
            </div>
            <div class="form-group col-md-4">
              <button type="submit" class="btn-sm" [disabled]="fg.invalid"  (click)="recordSubmit(fg)"
                    [ngClass]="(fg.get('ID').value==0)?'btn-success':'btn-outline-dark'"><i
                        class="fa fa-save fa-lg"></i>
                    {{fg.get('ID').value==0?'Submit':'Update'}}
                   
                </button>
            <button class="btn-sm btn-danger ml-1" >
                <i class="fa fa-trash"></i> Xóa
            </button>
            </div>
         
          </div>
  
      </form>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Tiêu đề</th>
      <th>Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lesson of lessons">
      <td>{{lesson.name}}</td>
    </tr>
  </tbody>
</table>