
<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard/']">TRANG CHỦ</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/course/']">KHÓA HỌC</a></li>
    <li class="breadcrumb-item active text-uppercase">{{course.name}}</li>
  </ol>
</nav> -->
<!-- Button trigger modal -->


  <div class="card text-left">

    <div class="card-body">
     
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h4>Quản lý chương học</h4>
          </div>
          <div class="col-md-6 text-right">
            <button data-toggle="modal" data-target="#modelId" style="background-color: #5C6AC4; color: white; margin-bottom: 10px;" class="btn btn-sm btn-round float-right">
              <i class="fa fa-plus"></i> Thêm chương khóa học
            </button>
           
          </div>
        </div>
      </div>

      <input class="form-control mb-2" style="margin-top: 10px;" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  
      Tìm theo tiêu đề hoặc mô tả ...">   
      <div class="table-responsive">
        <table [svData]="lessons" #sv="svDataTable"  class="table table-hover">
          <thead>
            <tr>
              <th>
                <sv-default-sorter># </sv-default-sorter>
              </th>
               <th>
                <sv-default-sorter>Nội dung </sv-default-sorter>
              </th>
              <th>
                <sv-default-sorter>Số bài học </sv-default-sorter>
              </th>
              <th>
                <sv-default-sorter>Khóa học </sv-default-sorter>
              </th>
              <th>
                <sv-default-sorter>Tác vụ </sv-default-sorter>
              </th>

              

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of sv.data | filter:searchText; let i=index ">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.countItem}} bài</td>
              <td>
                <strong>
                  {{course.name}}
                </strong>
              </td>
              <td>
                <button class="btn-sm" style="background-color: #5C6AC4; color: white;" [routerLink]="['/course/add/lesson/chapter', course.id]">
                  <i class="fa fa-plus"></i> Thêm học liệu</button>
                <button class="btn-sm btn-danger ml-1" (click)="delLesson(item.id,item.name)"  >
                  <i class="fa fa-trash"></i> Xóa
              </button>
                <!-- <a style="margin-left: 10px;">
                  <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                </a> -->
              </td>
             
            </tr>
    
          </tbody>
          <tfoot>
            <!-- <tr>
              <td colspan="4">
                <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
              </td>
            </tr> -->
          </tfoot>
        </table>
    
      </div>
    </div>
  </div>


    <!-- <table class="table" style="width:100%">
      <thead>
      <tr>
        <th style="width: 70%">Tên</th>
        <th style="width: 10%">Thao tác</th>
      </tr>
      </thead>
      <tbody>
        <ng-container  *ngFor="let item of lessons" >
          <tr>
            <td><a [routerLink]="['/course/lesson/', item.id]" >
              {{item.name}}
            </a></td>
         
            <td>

            </td>
          </tr>
        </ng-container>
      
      
     
      </tbody>
    </table> -->


<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thêm chương</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="grid-table table">
            <div class="thead mb-2">
                <div class="tr">
                  <div class="row">
                    <div class="col-md-8" style="font-size: 16px; font-weight: bold;">Tiêu đề</div>
                    <div class="col-md-4" style="font-size: 16px; font-weight: bold;">Thao tác</div>
                  </div>
                    
                    <div class="td">
                        <span *ngIf="notification" class="elementToFadeInAndOut">
                            <i class="fa fa-check-circle {{notification.class}}"></i>
                            {{notification.message}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="tbody">
                <form [formGroup]="fg" *ngFor="let fg of LessonForms.controls; let i=index;" >
          
                     <div class="form-row">
                      <div class="form-group col-md-8 ">
                        <input type="text" 
                          class="form-control"
                           placeholder="Nhập tiêu đề khoá học" 
                           formControlName="Name">
                       
                      </div>
                      <div class="form-group col-md-4">
                        <button type="submit" class="btn-sm" [disabled]="fg.invalid"  (click)="recordSubmit(fg)"
                              [ngClass]="(fg.get('ID').value==0)?'btn-success':'btn-outline-dark'"><i
                                  class="fa fa-save fa-lg"></i>
                              {{fg.get('ID').value==0?'Lưu':'Sửa'}}
                             
                          </button>
                      <button class="btn-sm btn-danger ml-1" (click)="onDelete(fg.get('ID').value,i)" >
                          <i class="fa fa-trash"></i> Xóa
                      </button>
                      </div>
                   
                    </div>
            
                </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>



<script>
  $('#exampleModal').on('show.bs.modal', event => {
    var button = $(event.relatedTarget);
    var modal = $(this);
    // Use above variables to manipulate the DOM
    
  });
</script>