
 <form  [formGroup]="AddForm" (ngSubmit)="AddCourseCate()"  >
  <div class="box-body">
      <div class="form-group row">
          <label for="inputEmail3" class="col-sm-3 control-label">Tên danh mục</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" 
              [ngClass]="{'is-invalid': AddForm.get('name').errors 
              && AddForm.get('name').touched}"
              formControlName="name" 
              [(ngModel)]="name"
              (ngModelChange)="GetSeoTitle(name)"
              placeholder="Nhập tên danh mục">
    <div class="invalid-feedback">Nhập tên danh mục</div>
            
          </div>
      </div>
      <div class="form-group row ">
          <label for="inputEmail3" class="col-sm-3 control-label">Tiêu đề SEO</label>
          <div class="col-sm-9">
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid': AddForm.get('alias').errors 
              && AddForm.get('alias').touched}"
              formControlName="alias" 
              placeholder="Nhập tiêu đề SEO">
    <div class="invalid-feedback">Nhập tiêu đề</div>
              
          </div>
      </div>
      <div class="form-group row">
          <label for="inputEmail3" class="col-sm-3 control-label">Mô tả ngắn</label>
          <div class="col-sm-9">
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid': AddForm.get('description').errors 
              && AddForm.get('description').touched}"
              formControlName="description" 
              placeholder="Nhập mô tả">
    <div class="invalid-feedback">Nhập mô tả</div>
             
          </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 control-label">Danh mục cha</label>
        <div class="col-sm-9">
            <select  class="form-control" formControlName="abc" [(ngModel)]="abc"
            (ngModelChange)="GetParentId(abc)"  >
              <option [ngValue]="null" >Danh mục gốc</option>
              <option *ngFor="let prf of courseCategories" [ngValue]="prf.id">
               {{ prf.name }}
              </option>
            </select>
            <input type="hidden"  formControlName="parentID" />
            <!-- <input type="hidden" name="parentId" ng-model="courseCategory.ParentID" /> -->
        </div>
    </div>
      <div class="form-group row">
          <label for="inputEmail3" class="col-sm-3 control-label">Thứ tự</label>
          <div class="col-sm-9">
              <input type="number" class="form-control"
              [ngClass]="{'is-invalid': AddForm.get('displayOrder').errors 
              && AddForm.get('displayOrder').touched}"
              formControlName="displayOrder" 
              placeholder="Nhập thứ tự">
    <div class="invalid-feedback">Nhập thứ tự</div>
            
          </div>
      </div>
   
      <div class="form-group row">
          <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                  <label>
                      <input type="checkbox" formControlName="status" > Kích hoạt
                  </label>
              </div>

          </div>
      </div>
  </div><!-- /.box-body -->
  
    
      <button type="submit"  class="btn btn-success pull-right">Lưu</button>

</form>