<form [formGroup]="exam">
  <div class="row">
    <div class="col-4">
      <h4>Thông tin đề thi</h4>
      <span style="color:grey">Tiêu đề, mô tả, thiết lập thời gian làm bài và phần trăm hoàn thành</span>
    </div>
    <div class="card text-left col-8">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleFormControlInput1">Tiêu đề</label>
          <input type="text" class="form-control" name="name"
           formControlName="name" id="exampleFormControlInput1"
            placeholder="Nhập tiêu đề"
            [ngClass]="{'is-invalid': exam.get('name').errors 
            && exam.get('name').touched}">
            <div class="invalid-feedback" *ngIf="exam.get('name').hasError('required')">
              Nhập tiêu đề bài kiểm tra
             </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Mô tả</label>
          <textarea class="form-control" name="description" formControlName="description"
            id="exampleFormControlTextarea1" rows="3"
            [ngClass]="{'is-invalid': exam.get('description').errors 
            && exam.get('description').touched}"></textarea>
            <div class="invalid-feedback" *ngIf="exam.get('description').hasError('required')">
              Nhập mô tả bài kiểm tra
             </div>
        </div>
        <label for="exampleFormControlInput1">Thời gian làm bài </label>
        <div style="width: 200px;" class="form-group input-group">

          <input type="number" name="time" formControlName="time" placeholder="Thời gian" class="form-control"
          [ngClass]="{'is-invalid': exam.get('time').errors 
            && exam.get('time').touched}">
           
          <div class="input-group-prepend">
            <span style="background-color: #e9ecef !important; color: black !important;" class="input-group-text"><i
                class="fa">giây</i></span>
          </div>
          <div class="invalid-feedback" *ngIf="exam.get('time').hasError('required')">
           Nhập thời gian làm bài
          </div>
          <div class="invalid-feedback" *ngIf="exam.get('time').hasError('min')">
            Thời gian làm bài phải lớn hơn 300 giây (5 phút)
          </div>
          <div class="invalid-feedback" *ngIf="exam.get('time').hasError('max')">
            Thời gian làm bài phải nhỏ hơn 3600 giây (60 phút)
          </div>
          
        </div>
        
        


        <label for="exampleFormControlInput1">Điểm đạt</label>
        <div style="width: 200px;" class="form-group input-group">

          <input type="number" name="point" formControlName="point" 
          placeholder="Điểm" class="form-control" 
          [ngClass]="{'is-invalid': exam.get('point').errors 
            && exam.get('point').touched}">
          <div class="input-group-prepend">
            <span style="background-color: #e9ecef !important; color: black !important;" class="input-group-text"><i
                class="fa">%</i></span>
          </div>

          <div class="invalid-feedback" *ngIf="exam.get('point').hasError('required')">
            Nhập điểm để hoàn thành bài kiểm tra
           </div>
           <div class="invalid-feedback" *ngIf="exam.get('point').hasError('min')">
             Điểm để hoàn thành kiểm tra phải ít nhất 40%
           </div>
           <div class="invalid-feedback" *ngIf="exam.get('point').hasError('max')">
            Điểm để hoàn thành kiểm tra không được lớn hơn 100%
           </div>
        </div>
      </div>
    </div>


    <div class="col-4">
      <h4>Câu hỏi</h4>
      <span style="color:grey">Câu hỏi được lấy từ ngân hàng câu hỏi</span>
    </div>
    <div class="card text-left col-8">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Câu hỏi cần thêm</label>

          <ng-select (change)='onOptionsSelected($event)' [items]="questions" bindLabel="content" bindValue="id"
            [multiple]="true">
          </ng-select>
        </div>
        <a style="float: right;" (click)="modal.showModal();">+ Tạo câu hỏi</a>
        <app-question-modal #modal (itemCreated)="itemCreated($event)"></app-question-modal>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>
                  Câu hỏi
                </th>
                <th>
                  Loại
                </th>
                <th>

                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of selectedQuestion; let i=index">
                <td>{{i+1}}</td>
                <td>{{item.content}}</td>
                <td>Trắc nghiệm</td>
                <!-- <td>
                <a style="margin-left: 10px;">
                  <button class="btn btn-sm btn-danger" (click)="deleteItem(item)"><i class="fa fa-trash"></i></button>
                </a>
               </td> -->
              </tr>

            </tbody>
            <tfoot>
              <!-- <tr>
                <td colspan="4">
                  <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
                </td>
              </tr> -->
            </tfoot>
          </table>
          <button style="background-color: #5C6AC4; color: white; margin-left: 10px;"
            class="btn btn-md btn-round float-right" [disabled]="!exam.valid" (click)="createExam()">Lưu</button>
          <button [routerLink]="['/question-exam/exam']" style="background-color: #F6F7FB; color: #87888A;"
            class="btn btn-md btn-round float-right ">Quay lại</button>
        </div>
      </div>
    </div>
  </div>

</form>
