<div class="card text-left">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h4>Quản lý quản trị viên</h4>
      </div>
      <div class="col-md-6 text-right">
        <!-- <button class="btn btn-success text-left" (click)="modal.showModal();" 
        > -->
        <button  style="background-color: #5C6AC4; color: white; margin-left: 10px;"  class="btn btn-sm text-left" (click)="modal.showModal();" >
          <i class="fa fa-plus"></i> Thêm người quản trị
          </button>
          <app-admin-modal #modal (itemCreated)="itemCreated($event)"></app-admin-modal>
      </div>
    </div>
  </div>
  <div class="card-body">     
    <table id='table'  class="table table-hover" cellspacing="0" width="100%" >
      <thead>
          <tr>
              <th style="width: 5%">#</th>
              <th style="width: 40%">Tên người quản trị</th>
              <th style="width: 10%">Email</th>
              <th style="width: 15%">Số điện thoại</th>
              <th style="width: 15%">Thao tác</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>
            {{i+1}}
          </td>
          <td>
            {{user.user.firstName}} {{user.user.lastName}}
          </td>
          <td>
            {{user.user.email}}
          </td>
          <td>
            {{user.user.phone}}
          </td>
          <td class="lnr-text-align-center">
            <button class="btn btn-sm btn-outline-primary" (click)="modal.showModal();" ><i class="fa fa-pencil"></i></button>
            <button class="btn btn-sm btn-outline-primary" style="margin-left: 5px;" (click)="editRolesModal(user)"><i class="fa fa-user-plus"></i></button>
            <button class="btn  btn-sm btn-outline-danger" style="margin-left: 5px;"><i class="fa fa-trash"></i></button>
            <app-admin-edit  #modal [user]="user.user"></app-admin-edit>
          </td>
        </tr>

      </tbody>
  
  </table>
  </div>
</div>

