.content {
    padding-bottom: 50px;
    background-color: white;
    border-color: #dee2e6;
}
#course_content {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}
.container:before, .container:after {
    display: table;
    content: " ";
}
h2.title {
    font-weight: bold;
}
#course_content .section {
    margin-top: 20px;
}
#course_content .title-section {
    background: #e8e8e8;
    color: black;
    padding: 10px 16px!important;
    font-size: 16px;
    border-bottom: 1px solid #fff !important;
    font-weight: bold;
    cursor: pointer;
}
#course_content .lecture {
    overflow-y: auto;
    background: #f0f0f0;
    line-height: 2;
    padding: 10px 16px;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    display: block;
    text-decoration: none!important;
    font-weight: lighter;
    color: #000000db;
}
#course_content .title-lecture {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 150px);
    float: left;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
