<div class="ls-top-navbar si-l3-md-up breakpoint-1200">
<app-header></app-header>


<div class="layout-content" style="height:580px;" data-scrollable>
  <div class="container-fluid">

<router-outlet></router-outlet>



  </div>
</div>
</div> 

<!-- jQuery -->
<script src="~/assets/admin/vendor/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="~/assets/admin/vendor/tether.min.js"></script>
<script src="~/assets/admin/vendor/bootstrap.min.js"></script>

<!-- AdminPlus -->
<script src="~/assets/admin/vendor/adminplus.js"></script>

<!-- App JS -->
<script src="~/assets/admin/js/main.min.js"></script>

<!-- Vendor JS -->
<script src="~/assets/admin/vendor/summernote.min.js"></script>
<script src="~/assets/admin/vendor/bootstrap-datepicker.min.js"></script>
<script src="~/assets/admin/vendor/jquery.nestable.js"></script>


<!-- Init -->
<script src="~/assets/admin/examples/js/summernote.js"></script>
<script src="~/assets/admin/examples/js/date-time.js"></script>
<script src="~/assets/admin/examples/js/nestable.js"></script>