<div class="card text-left">

  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h4>Ngân hàng câu hỏi</h4>
      </div>
      <div class="col-md-6">
        <button [routerLink]="['add']" style="background-color: #5C6AC4; color: white; margin-left: 10px;" class="btn btn-sm btn-round float-right">Tạo câu hỏi</button>
        <input type="file" (change)="onChange($event)" multiple="false">
      </div>
      <!-- <div class="col-md-6 text-right">
        <button class="btn btn-success text-left" (click)="modal.showModal();" 
        >
        <i class="fa fa-plus"></i> Thêm danh mục</button>  
       
      </div> -->
    </div>
  </div>
  <div class="card-body">  
    <input class="form-control mb-2" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  
    Tìm theo tiêu đề hoặc mô tả ...">   
    <div class="table-responsive">
      <table [svData]="questions" #sv="svDataTable"  class="table table-hover">
        <thead>
          <tr>
            <th></th>
             <th>
              <sv-default-sorter>Nội dung </sv-default-sorter>
            </th>
            <th>
              <sv-default-sorter>Loại </sv-default-sorter>
            </th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let q of sv.data | filter:searchText; let i=index ">
            <td>{{i+1}}</td>
            <td width="50%" style="overflow: hidden;">{{q.content}}</td>
            <td>Trắc nghiệm</td>
            <td>
              <!-- <a>
                <button style="margin-right: 10px;" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#model-{{i}}"><i class="fa fa-eye"></i></button>
              </a> -->
              <a>
                <button class="btn btn-sm btn-success" [routerLink]="['edit/',q.id]"><i class="fa fa-edit"></i></button>
              </a>
              <!-- <a style="margin-left: 10px;">
                <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
              </a> -->
            </td>
            <div class="modal fade" id="model-{{i}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Chi tiết câu hỏi</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  <div class="modal-body">
                    <p style="font-size: 20px;">{{q.content}}</p>
                    <div class="row container">
                      <div style="font-size: 16px;" class="col-md-6 mt-1">
                        A. {{q.answer.content}}
                      </div>
                      <div style="font-size: 16px;" class="col-md-6 active mt-1">
                        B. 4 cái cánh
                      </div>
                      <div style="font-size: 16px;" class="col-md-6 mt-1">
                        C. 4 cái cánh
                      </div>
                      <div style="font-size: 16px;" class="col-md-6 mt-1">
                        D. 4 cái cánh
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tr>

        </tbody>
        <tfoot>
          <!-- <tr>
            <td colspan="4">
              <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
            </td>
          </tr> -->
        </tfoot>
      </table>

    </div>
  </div>
</div>


<script>
  $('#exampleModal').on('show.bs.modal', event => {
    var button = $(event.relatedTarget);
    var modal = $(this);
    // Use above variables to manipulate the DOM
    
  });
</script>
   