<form  *ngIf="exam">
  <div class="row">
    <div class="col-4">
      <h4>Thông tin đề thi</h4>
      <span style="color:grey">Tiêu đề, mô tả, thiết lập thời gian làm bài và phần trăm hoàn thành</span>
    </div>
    <div class="card text-left col-8">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleFormControlInput1">Tiêu đề</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="exam.name" id="exampleFormControlInput1"
            placeholder="Nhập tiêu đề">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Mô tả</label>
          <textarea class="form-control" name="description" [(ngModel)]="exam.description"
            id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <label for="exampleFormControlInput1">Thời gian làm bài</label>
        <div style="width: 200px;" class="form-group input-group">

          <input type="text" name="time" [(ngModel)]="exam.time" placeholder="Thời gian" class="form-control">
          <div class="input-group-prepend">
            <span style="background-color: #e9ecef !important; color: black !important;" class="input-group-text"><i
                class="fa">s</i></span>
          </div>
        </div>

        <label for="exampleFormControlInput1">Điểm đạt</label>
        <div style="width: 200px;" class="form-group input-group">

          <input type="text" name="point" [(ngModel)]="exam.point" placeholder="Điểm" class="form-control">
          <div class="input-group-prepend">
            <span style="background-color: #e9ecef !important; color: black !important;" class="input-group-text"><i
                class="fa">%</i></span>
          </div>
        </div>
      </div>
    </div>


    <div class="col-4">
      <h4>Câu hỏi</h4>
      <span style="color:grey">Câu hỏi được lấy từ ngân hàng câu hỏi</span>
    </div>
    <div class="card text-left col-8">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Câu hỏi cần thêm</label>

          <!-- <select class="form-control" (change)='onOptionsSelected($event)' id="exampleFormControlSelect1">
            <ng-container *ngIf="questions.length != 0">
              <option selected>Chọn câu hỏi thêm vào đề thi</option>
              <option *ngFor="let q of questions" [value]="q.id">{{q.content}}</option>
            </ng-container>
            <ng-container *ngIf="questions.length == 0">
              <option>Không còn câu hỏi trong ngân hàng</option>
            </ng-container>

          </select> -->
          <!-- <ng-select (change)='onOptionsSelected($event)' [multiple]="true">
            <ng-option></ng-option>
          </ng-select> -->
          <ng-select (change)='onOptionsSelected($event)'  [(ngModel)]="listSelected" bindLabel="content" id="field_studyTime" appendTo="body" multiple="true"
            [clearable]="true" name="listSelected">
            <ng-container *ngFor="let item of questions">
              <ng-option [value]="item.id">
                {{item.content}}
              </ng-option>
            </ng-container>
          </ng-select>
        </div>
        <a style="float: right;" (click)="modal.showModal();">+ Tạo câu hỏi</a>
        <app-question-modal #modal (itemCreated)="itemCreated($event)"></app-question-modal>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>
                  Câu hỏi
                </th>
                <th>
                  Loại
                </th>
                <th>

                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of selectedQuestion; let i=index">
                <td>{{i+1}}</td>
                <td>{{item.content}}</td>
                <td>Trắc nghiệm</td>
                <!-- <td>
                <a style="margin-left: 10px;">
                  <button class="btn btn-sm btn-danger" (click)="deleteItem(item)"><i class="fa fa-trash"></i></button>
                </a>
               </td> -->
              </tr>

            </tbody>
            <tfoot>
              <!-- <tr>
                <td colspan="4">
                  <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
                </td>
              </tr> -->
            </tfoot>
          </table>
          <button style="background-color: #5C6AC4; color: white; margin-left: 10px;"
            class="btn btn-md btn-round float-right"  (click)="updateExam()">Lưu</button>
          <button [routerLink]="['/question-exam/exam']" style="background-color: #F6F7FB; color: #87888A;"
            class="btn btn-md btn-round float-right ">Quay lại</button>
        </div>
      </div>
    </div>
  </div>

</form>
