
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    
    <div class="sidebar sidebar-left si-si-3 sidebar-visible-md-up sidebar-light ls-top-navbar-xs-up sidebar-transparent-md" id="sidebarLeft" data-scrollable [collapse]=isCollapsed>
      <div class="sidebar-heading">Giao diện</div>
      <ul class="sidebar-menu">
    
          <li class="sidebar-menu-item active">
              <a class="sidebar-menu-button" href="">
                  <i class="sidebar-menu-icon material-icons">school</i> Giảng viên
              </a>
          </li>
      </ul>
      <div class="sidebar-heading">Giảng viên</div>
      <ul class="sidebar-menu">
          <li class="sidebar-menu-item">
              <a class="sidebar-menu-button" ui-sref="course_categories">
                  <i class="sidebar-menu-icon material-icons">category</i> Quản lý danh mục khoá học
              </a>
          </li>
    
          <li class="sidebar-menu-item">
              <a class="sidebar-menu-button" ui-sref="courses">
                  <i class="sidebar-menu-icon material-icons">import_contacts</i> Quản lý khoá học
              </a>
          </li>
          <li class="sidebar-menu-item">
              <a class="sidebar-menu-button" ui-sref="post_categories">
                  <i class="sidebar-menu-icon material-icons">category</i> Quản lý danh mục bài viết
              </a>
          </li>
        
          <li class="sidebar-menu-item">
              <a class="sidebar-menu-button" ui-sref="posts">
                  <i class="sidebar-menu-icon material-icons">menu_book</i> Quản lý bài viết
              </a>
          </li>
    
          <!-- <li class="sidebar-menu-item">
    <a class="sidebar-menu-button" href="instructor-quizes.html">
      <i class="sidebar-menu-icon material-icons">help</i> Quiz Manager
    </a>
    </li> -->
          <!-- <li class="sidebar-menu-item">
    <a class="sidebar-menu-button" href="instructor-profile.html">
      <i class="sidebar-menu-icon material-icons">language</i> Public Profile
    </a>
    </li> -->
          <!-- <li class="sidebar-menu-item">
    <a class="sidebar-menu-button" href="instructor-account.html">
      <i class="sidebar-menu-icon material-icons">account_box</i> Account Settings
    </a>
    </li> -->
          <li class="sidebar-menu-item">
              <a class="sidebar-menu-button" href="instructor-messages.html">
                  <i class="sidebar-menu-icon material-icons">comment</i> Tin nhắn
              </a>
          </li>
          <li class="sidebar-menu-item">
              <a class="sidebar-menu-button" href="instructor-earnings.html">
                  <i class="sidebar-menu-icon material-icons">trending_up</i> Thu nhập
              </a>
          </li>
    
          <li class="sidebar-menu-item">
              <a class="sidebar-menu-button" href="instructor-statement.html">
                  <i class="sidebar-menu-icon material-icons">receipt</i> Lịch sử giao dịch
              </a>
          </li>
          <li class="sidebar-menu-item">
              <a class="sidebar-menu-button" ng-click="logOut()">
                  <i class="sidebar-menu-icon material-icons">lock_open</i> Đăng xuất
              </a>
          </li>
      </ul>
      
    </div>

  </div><!-- /.container-fluid -->
</nav>
