<ng-template #itemCreateMdl >
<div class="modal-header">
    <h4 class="modal-title pull-left">Thêm khoá học </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="AddForm"   >
    
        <div class="row">
            <div class="col-md-6">
                <div class="image-preview mb-3" *ngIf="previewUrl">
                    <img [src]="previewUrl" height="200" width="300"/>                 
                </div>
            
                
                <div class="image-preview mb-3" *ngIf="!previewUrl">
                    <img src="../../../../assets/user.png" height="200" width="300" />                 
                </div>
            </div>
                <input type="file" name="file" (change)="onFileSelect($event)" [(ngModel)]="file" />
    
            
            
            
        </div>
       
    
        <div class="form-row">
            <div class="form-group col-md-6 ">
              <!-- Label Họ -->
              <label for="">Tên khoá học</label>
              <input type="text" [ngClass]="{'is-invalid': AddForm.get('name').errors 
              && AddForm.get('name').touched}"
                class="form-control"
                 placeholder="Nhập tên khoá học" 
                 formControlName="name">
              <div class="invalid-feedback">
                Vui lòng nhập tên khoá học
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="">Tên SEO khoá học</label>
              <input type="text" [ngClass]="{'is-invalid': AddForm.get('alias').errors 
              && AddForm.get('alias').touched}"
                class="form-control" placeholder="Nhập tên SEO khoá học" formControlName="alias">
              <div class="invalid-feedback" >
                Vui lòng nhập tên SEO
              </div>
            </div>
          </div>
        
          <div class="form-row">
            <div class="form-group col-md-6 ">
              <!-- Label Họ -->
              <label for="">Giá khoá học</label>
              <input type="number" [ngClass]="{'is-invalid': AddForm.get('price').errors 
              && AddForm.get('price').touched}"
                class="form-control"
                 placeholder="Nhập giá khoá học" 
                 formControlName="price">
              <div class="invalid-feedback">
                Vui lòng nhập giá khoá học
              </div>
            </div>
            <div class="form-group col-md-6">
             
                <label for="">Chọn danh mục khoá học</label>
                <select name="courseCategoryID" id="" formControlName="courseCategoryID" class="form-control">
                  <option *ngFor="let CourseCate of courseCate" [ngValue]="CourseCate.id">{{CourseCate.name}}</option>
                </select>
            </div>
         
          </div>
       
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="AddCourse()" form="AddForm">Submit</button>
  </div>
</ng-template>