<nav class="navbar navbar-dark bg-primary navbar-full navbar-fixed-top">

  <!-- Toggle sidebar -->
  <button class="navbar-toggler pull-xs-left active" type="button" data-toggle="sidebar" data-target="#sidebarLeft"><span class="material-icons">menu</span></button>

  <!-- Brand -->
  <a href="index.html" class="navbar-brand"><i class="material-icons">school</i> E-Learning</a>

  <!-- <ul class="nav navbar-nav pull-xs-left hidden-sm-down">
    <li class="nav-item">
      <div class="nav-stats">$591
        <small>GROSS</small>
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-stats">$31
        <small>TAXES</small>
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-stats">$560
        <small>NET</small>
      </div>
    </li>
  </ul> -->

  <!-- Menu -->
  <ul class="nav navbar-nav pull-xs-right">

    <!-- User dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false">
        <img src="assets/images/people/50/guy-6.jpg" alt="Avatar" class="img-circle" width="40">
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-list">
        <a class="dropdown-item" href="instructor-account.html">
          <i class="material-icons md-18">lock</i>
          <span class="icon-text">Sửa Thông Tin</span>
        </a>
        <a class="dropdown-item" href="instructor-profile.html">
          <i class="material-icons md-18">person</i>
          <span class="icon-text">Tài khoản</span>
        </a>
        <a class="dropdown-item" href="#">Đăng xuất</a>
      </div>
    </li>
    <!-- // END User dropdown -->

  </ul>
  <!-- // END Menu -->

</nav>
<div class="sidebar sidebar-left si-si-3 sidebar-light ls-top-navbar-xs-up sidebar-transparent-md sidebar-transition sidebar-visible" id="sidebarLeft" data-scrollable="">
  <div class="sidebar-heading">Giao diện</div>
  <ul class="sidebar-menu">
   
    <li class="sidebar-menu-item active">
      <a class="sidebar-menu-button" href="instructor-dashboard.html">
        <i class="sidebar-menu-icon material-icons">school</i> Giảng viên
      </a>
    </li>
  </ul>
  <div class="sidebar-heading">Giảng viên</div>
  <ul class="sidebar-menu">
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="instructor-courses.html">
        <i class="sidebar-menu-icon material-icons">import_contacts</i> Quản lý khoá học
      </a>
    </li>
    <!-- <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="instructor-quizes.html">
        <i class="sidebar-menu-icon material-icons">help</i> Quiz Manager
      </a>
    </li> -->
    <!-- <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="instructor-profile.html">
        <i class="sidebar-menu-icon material-icons">language</i> Public Profile
      </a>
    </li> -->
    <!-- <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="instructor-account.html">
        <i class="sidebar-menu-icon material-icons">account_box</i> Account Settings
      </a>
    </li> -->
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="instructor-messages.html">
        <i class="sidebar-menu-icon material-icons">comment</i> Tin nhắn
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="instructor-earnings.html">
        <i class="sidebar-menu-icon material-icons">trending_up</i> Thu nhập
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="instructor-statement.html">
        <i class="sidebar-menu-icon material-icons">receipt</i> Lịch sử giao dịch
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="login.html">
        <i class="sidebar-menu-icon material-icons">lock_open</i> Đăng xuất
      </a>
    </li>
  </ul>
  <!-- Components menu -->
  <!-- <div class="sidebar-heading">UI Components</div>
  <ul class="sidebar-menu">
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="#">
        <i class="sidebar-menu-icon material-icons">tune</i> UI Components
      </a>
      <ul class="sidebar-submenu sm-condensed">
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-buttons.html">Buttons</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-cards.html">Cards</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-tabs.html">Tabs</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-tree.html">Tree</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-nestable.html">Nestable</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-notifications.html">Notifications</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-progress.html">Progress Bars</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-forms.html">Forms</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-tables.html">Tables</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-charts.html">Charts</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-calendar.html">Calendar</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-maps-vector.html">Maps Vector</a>
        </li>
      </ul>
    </li>
  </ul> -->
  <!-- // END Components Menu -->
</div>