 <!-- Hover table card start -->
 <app-card [title]="'Danh sách khoá học'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Tên khoá học</th>
        <th>Người tạo</th>
        <th>Ngày tạo</th>
        <th>Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td style="text-align: center;">
          <button class="btn btn-info">Chi tiết</button>
          <button class="btn btn-danger">Xoá</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>
</app-card>
<!-- Hover table card end -->