<button class="btn btn-primary text-left mb-2"  ><i class="fa fa-plus"></i></button>

<app-course-add [listCourseCate]="listCourseCate" ></app-course-add>

  <table id='table' datatable [dtOptions]="dtOptions" class="table  table-bordered" cellspacing="0" width="100%">
      <thead>
          <tr>
              <td><input name="all" type="checkbox" ng-click="selectAll()" /></td>
              <th style="width: 5%">#</th>
              <th>Hình khoá học</th>
              <th style="width:30%">Tên khóa học</th>
              <th >Ngày tạo</th>
              <th>Người tạo</th>
              
              <th >Trạng thái</th>
              <th style="width: 15%">Thao tác</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let course of courses; let i= index">
              <td><input type="checkbox" data-md-icheck  #checkdelet id="{{course.id}}" name="deletecheck" value="{{course.id}}" /></td>
              <td scope="row">{{i+1}}</td>
              <td class="text-center">
                <img src="{{course.image}}" style="width: 100px; height: 80px;" alt="">
              </td>
              <td>{{course.name}}</td>
              <td>{{course.createdDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
              <td>{{course.createdBy}}</td>
              <td class="text-center">
                <span *ngIf="course.status == 1; else flase" class="badge badge-success">Kích hoạt</span>
                <ng-template #flase>
                    <span class="badge badge-danger">Chưa kích hoạt</span>
                </ng-template>             
            </td>
              <td>
                  <button class="btn btn-sm btn-primary" [routerLink]="['edit/', course.id]"><i class="fa fa-pencil"></i></button>
                  <button class="btn  btn-sm btn-danger" (click)="deleteCourse(course.id,course.name)"><i class="fa fa-trash"></i></button>
              </td>
          </tr>

      </tbody>
  
  </table>
  <!-- <button (click)="deleteSelected()">Delete</button> -->
 